.search-cont{
    border:1px solid #008CBA;
    width:80%;
    height: 2rem;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 12px;

}
.search-cont input {
    background-color: transparent;
    border:none;
    padding-left: 1rem;
    color:white;
    flex:1
}
.search-cont input::placeholder{
    color: rgb(176, 139, 70);
}
.search-cont input:focus{
    outline:none;
}
.search-cont i{
    background-color: #008CBA;
    /* padding:3px; */
    width:3rem;
    /* vertical-align: center; */
    display: grid;
    place-items: center;
    height: 100%;
    color:orange;
}
.card-det{
    width:90%;
    /* border:1px solid white; */
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-col{
    width:100%;
}
.right-col{
    width:100%;
}
.left-col .order{
    width:100%;
}
.hd{
    display:grid;
    place-items:center;
    /* border:1px solid white; */
}
.order-header{
    width:100%;
    display:flex;
    padding:1rem 0;
    box-sizing: border-box;
    background-color: #1C3E5A;
    justify-content:space-between;

}
/* sort */
.order-header .products button{
    margin-right:5px;
    background-color:transparent;
    color:white;
    border:none;
    cursor: pointer;
}
.order-header .products button:hover{
    color:orange;
}
/* sort */
.order-row .address-det{
    margin-bottom:1rem;
}
.order-row .options a{
    color:white;
    background-color: #008CBA;
    padding:12px;
    border-radius:12px;
}
.order-row .options{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin-bottom: 1rem;
}
/* applies both in row and header */
.products{
    width:30%; 
    text-align: center;
    display: flex;
    justify-content: center;
}
.orderId{
    width:30%;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    
}
.orderId h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.status{
    width:30%;
    text-align: center;
}
 
/* applies both in row and header */
.order-row {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0D2B47;
    cursor: pointer;
    transition: transform 0.3s; /* Adding transition for smooth animation */
  }
  
  .order-row:hover {
    transform: scale(1.05); /* Scale the element by 1.1 on hover */
  }
.order-row img{
    width:5rem;
}
.order-row h4,.order-row h3{
    font-size: clamp(0.56rem,.85rem,1rem);
    word-break: break-all;
}
.order-row h4{
    text-align:center;
}
.order-row .status{
    text-align:center;
}
.order-row p{
    font-size: clamp(0.56rem,.85rem,1rem);
}
.mobile-input {
    width: 2rem;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #0b243b;
    color: white;
    border:1px solid white;
}
.mobile-input::placeholder {
color: rgba(255, 255, 255, 0.7);
}
 
.right-col{
    width:100%;
    /* border:1px solid white; */
    margin-top:2rem;
}
.order-summary{
    width:100%;
}
.order-summary h3{
    width:100%;
    /* text-align: left; */
    border-bottom: 2px solid white;
    padding-left: 1rem;
    box-sizing: border-box;
}
.order-summary .total,.order-summary .subTotal{
    box-sizing: border-box;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:.35rem;
}
.order-summary .subTotal{
    border-bottom: 2px solid rgb(131, 128, 128);
    color:rgb(210, 205, 205);
}
.order-summary .total{
    margin-top:1rem;
    border-top: 2px solid rgb(131, 128, 128);
    border-bottom: 2px solid rgb(131, 128, 128);
}
.right-col .options{
    margin-top: 0.35rem;
    width:100%;
    display: flex;
    flex-direction: column;
}
.right-col .options .checkout,.options .shopping{
    padding:0.75rem;
    border-radius:1rem;
    font-weight: 900;
    letter-spacing: .34rem;
    background-color: #f55157;
    color:white;
    margin-top: 1rem;
    border:none;
}
.right-col .options .shopping{
    background-color: #4d4949;
}
.left-col .order a:hover{
    color:orange;
}
/* Computer screen */
@media screen and (min-width: 700px) {
.search-cont{
    width:30%;
}
.hd{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid white; */
}
.card-det{
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

 
.order-header{
    justify-content: space-between;
    margin-top: 1rem;
}

.left-col{
    width:100%;
}
 
/* applies both in row and header */
.products{
    text-align: center;
    width:30%;
}

.orderId{
    text-align: center;
    width:20%;
}
.status{
    
    width:30%;
}
/* applies both in row and header */
.order-row .td{
    display: flex;
    /* justify-content: space-between; */
}
.order-row img{
    width:8rem;
    margin-right:1rem;
}
.order-row .options{
    width:30%;
}
}   