<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/admin2.css">
</head>
<body> 
    <aside>
        <div class="top">
            <div class="logo">
                <img src="/images/logo.jpg" alt="profile">
                <h2>PETS<span class="danger">WORLD</span></h2>
            </div>
            <div class="close" id="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="sidebar">
            <a href="#" class="active">
                <i class="fa-solid fa-border-all"></i>
                <h3>DashBoard</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-user-group"></i>
                <h3>Customers</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-scroll"></i>
                <h3>Orders</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-chart-pie"></i>
                <h3>Analytics</h3>
            </a>
            <a href="#" style="overflow:visible">
                <i class="fa-solid fa-message"></i>
                <h3>Messages</h3>
                <span class="message-count">2</span>
            </a>
            <a href="#">
                <i class="fa-solid fa-clipboard-check"></i>
                <h3>Products</h3>
            </a>
        
            <a href="/coupon-admin">
                <i class="fa-solid fa-gear"></i>
                <h3>Coupons</h3>
            </a>
            <a href="/product-add">
                <i class="fa-solid fa-plus"></i>
                <h3>Add Products</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                Log Out
            </a>
        </div>
    </aside>
    
    <script src="JS/admin.js"></script>
</body>
</html>