<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            background-color: #0b243b;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            width:100vw;
            height:100vh;
            display: grid;
            place-items: center;
            gap:0;
            overflow: hidden;
        }
        img{
            width:30rem;
        }
        .container{
            padding:2rem;
            background-color: #1271c99e;
            border-radius:2rem;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .btn {
            display: inline-block;
            background-color: #fff;
            color: #0b243b;
            font-size: 18px;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #e6e6e6;
        }
    </style>
</head>
<body>
    
    <div class="container" data-aos="zoom-out-down">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/3035fb76965389.5c7945b0d0567.gif" alt="">
        <h1>Your email is verified</h1>
        <p>Congratulations! Your email has been successfully verified.</p>
        <a href="/login" class="btn">Go to Login</a>
    </div>
</body>
</html>
