<section class="admin-content">
    <h1>Hello world This is Producty management</h1>
</section>
<script>
    {{!-- document.addEventListener('DOMContentLoaded', function() {
        // Get the sidebar element and admin-content element
        const sidebar = document.getElementById('sidebar');
        const adminContent = document.querySelector('.admin-content');
        
        adminContent.addEventListener("click", () => {
            console.log(sidebar);
        });

        // Calculate the margin-left value based on the sidebar width
        const sidebarWidth = sidebar.offsetWidth;
        const marginValue = sidebarWidth + 'px';
        console.log(sidebar);
        
        // Set the margin-left value for the admin-content element
        adminContent.style.marginLeft = marginValue;
    }); --}}
    {{!-- const adminContent = document.querySelector('.admin-content');
    const menuBar = document.querySelector('#content nav .bx.bx-menu');
    const sidebar = document.getElementById('sidebar');
    menuBar.addEventListener('click', function () {
                 
				 adminContent.style.marginLeft = marginValue;
                 alert("jhelloi")
            }) --}}

</script>